.CardGroup{
    width:80% ;
    margin-top:50px ;
    margin-bottom:40px ;
    margin-left:10% ; 
}
.Card{
    border: none ;
    background-color: #f6f2f4 ;
    font-family: 'Open Sans';
    font-size: 27px;
    color: #3e3c47 ;
    margin-right: 30px;
    text-align: justify;
}
.CardImage{
    margin-top:2%
}
.textSection3{
    font-family: 'Open Sans';
    font-size: 45px;
    color: #25c9d0
}

@media only screen and (max-width: 800px) {
    .Card{
       
        font-size: 20px;
     
    }

}