.slide-section{
    background-image: url("../../images/awarenessHomeP.jpg");
    background-color: #000; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.Content_slide{
    display: flex;
    height:400px;
    flex-direction: row;
  
}
.empty-side{
    display: flex;
    flex: .2;
  
}
.content-side{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;  
    color: #fff;
    flex-direction: column;
}
.right-side-awaHome{
    display: flex;
    flex:2;
    
  
}
.image_Title{   
    display:inline-flex;
  
   
}

.image_Title h1{
    margin-top: 5%;
    padding-left:20px;
    font-family: 'Open Sans';
}
.content-side h4{

    margin-left: 50px;
    margin-top: 1%;
    font-family: 'Open Sans';
}
.content-side button{
    margin-left: 170px;
    margin-top: 3%;
    font-family: 'Open Sans';
  
}

.content-side  .btn-primary {
    color: #fff;
    background-color: #f96714;
    border-color: #f96714;
    width:130px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 20px;
}
.content-side .form-control:focus {
    color: #495057; 
    background-color: #fff;
     border-color: #f96714; 
     outline: 0; 
     box-shadow: 0 0 0 0.1rem #f96714
}

.content-side .btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #f96714;
    border-color: #f96714;
}
.content-side  .btn:focus {
     outline: 0; 
     box-shadow: 0 0 0 0.0rem #f96714; 
}
.btn-primary:focus {
     box-shadow: #f96714; 
}
.content-side  .btn-primary:not(:disabled):not(.disabled):active:focus{
         box-shadow: 0 0 0 0.2rem #f96714; 
}


@media only screen and (max-width: 700px) {
  .content-side{
    flex: 1
  }
  .image_Title h1{
    margin-top: 5%;
   
    
}
.right-side-awaHome{
    flex:0;
}
.empty-side{
    display: flex;
    flex: 0;
  
}
}
@media only screen and (max-width:1200px) and (min-width: 700px) {
    .content-side{
        flex: 2;
        
        
      }
      .right-side-awaHome{
    flex:1;
}
}


