.Main_coure{
    display: flex;
    flex-direction: column;
    height: 470px;
    background-color: #242724
}
.Coure_Upper{
    display: flex;
    flex: .5;
    justify-content: center;
}
.Coure_Upper h4{
    padding: 10px;
    color: #fff;
}
.Coure_Middle{
    display: flex;
    flex:2;
    flex-direction: column;
   

}
.Coure_Middle_Icon{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.Coure_Middle_Icon-left{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.Coure_Middle_Icon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
}

.Coure_Middle_Title{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 27px;
}
.textSection{
    font-family: 'Open Sans';
    font-size: 45px;
    color:#f6f2f4
}

.Coure_Middle_Icon-left img{
    padding-left: 10%;
}
.Coure_Middle_Icon-right img{
    padding-left: 15%;
}
.Coure_Lower{
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: justify; text-align-last: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 23px;
    font-family: 'Open Sans'
  
}
@media only screen and (max-width: 800px) {
    .Main_coure{
        height: auto;
    }
    .Coure_Lower{
        margin-left: 6%;
        margin-right: 6%;
        font-size: 20px;
    }
    .Coure_Middle_Icon{
        flex-direction: column;
    }
   
}
