
.contact-us{
    background-image: url("../../images/contacimg.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 80vh;/* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:100%;
    margin-top:-30px;
}
.main-contact{

    display: flex;
    flex-direction:column;
    flex: 1;
    
}
.header-contact{
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    font: "Open Sans";
    color: white;
}
.header-contact h3{
margin-left: 20%;
font-family: 'Open Sans';
margin-top: 4%;
}
.body-contact{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
  
}
.white-box { 
    width: 60%;
    height:auto;
    margin-top: 1%;
    margin-left: 10%;
     margin-right: 10%;   
    background: rgba(255,255,255,0.9);
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction:row;
    }
.middle-box{
    display: flex;
    background-color: black;
    width: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -5%;

}
.right-box{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}
.right-box h3{
    color:#25c9d0;
    font-family: 'Open Sans';
}
.right-box Button{
    width: 80%;
    background-color:#25c9d0;
}
.left-box{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    margin-top: 5%; 
    font-family: 'Open Sans';
    
}
.right-box .form-group{
    width: 80%;
 
}
.right-box form {
    width: 100%;
    display: block;
    margin-top: 0em;
    font-family: 'Open Sans';
    
}
.left-side-contact{
    display: block;
}
.right-box .btn-primary {
    color: #fff;
    background-color: #25c9d0;
    border-color: #25c9d0; /*set the color you want here*/
}

.right-box .btn-primary:active {
    background-color: #25c9d0;
  }
  .right-box .form-control:focus {
    color: #495057; 
    background-color: #fff;
     border-color: #25c9d0; 
     outline: 0; 
     box-shadow: 0 0 0 0.1rem #25c9d0
}
.right-box .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #fff;
    color: #25c9d0;
    border-color: #25c9d0;
}
.right-box .btn:focus {
    outline: 0;
     box-shadow: 0 0 0 0.1rem #25c9d0; 
}

@media only screen and (max-width: 750px) {
.contact-us{
    height: 600px;
    }
    .left-box{
        display: none;
    }
    .middle-box{
        display: none;
    }
    .white-box {
        width: 100%;
        padding: 10px;
    }
    .form-group{
        width: 100%; 
    }
    .right-box Button{
        width: 100%;  
    }
    .header-contact h3{
        margin-left: 11%;
        font-family: 'Open Sans';
        margin-top: 4%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){  
    .white-box {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;     
    }
    .form-group{
        width: 90%;
    }
    .right-box Button{
        width: 90%;    
    }
    .middle-box{
        margin-left: 0;
    }
} 
 
