.Header{
    position:sticky;
    z-index:1000;
    top:0 ;
    width:100% ;
    background-color:#f6f2f4;
}
.BottomHeader{
display:flex;
flex-direction:row ;
height:70px;
}
.btn_login_awareness {
    background-color:#f6f2f4 ;
    border:none;
    border:2px solid #f96714;
    color:#f96714 ;
    width:150px ;
    height:40px;
    font-size: 25px;
    font-family: 'Open Sans';
    outline: none;
    box-shadow: none;
}

.btn_login_awareness:focus {
    outline: none;
    box-shadow: none;
}

.btn_Login {
    background-color:#f6f2f4 ;
    border:none;
    border:2px solid #25c9d0;
    color:#25c9d0 ;
    width:150px ;
    height:40px;
    font-size: 25px;
    font-family: 'Open Sans';
    z-index: 30;
    outline: none;
    box-shadow: none;
  }
  .btn_Login:focus{
    color: #25c9d0; 
    background-color: #f6f2f4;
     border-color: #25c9d0; 
     outline: 0; 
     box-shadow: 0 0 0 0.5rem #25c9d0 ;
     outline: none;
     box-shadow: none;
  }
.btn_toggle{
    background-color:#f6f2f4 ;
    border:none;
    color:#25c9d0 ;
    width:100% ;
    height:100%;
    font-size: 25px;
    font-family: 'Open Sans';
    z-index: 30;
    padding: 3px;
    outline: none;
    box-shadow: none;
}
.btn_toggle:focus{
    box-shadow: 0 0 0 0.2rem #25c9d0 ;
    outline: none;
    box-shadow: none;
}
.btn_item{
    text-decoration:none;
    color:#3e3c47 ;
    display: flex ;
    flex-direction: row ;
    width:100%;
    background-color: #f6f2f4;
    padding: 2px;
    font-family: 'Open Sans';
    font-size:20px;
    border-bottom:1px solid #000 ;
}
.btn_item:hover{
    text-decoration:none;
    background-color: rgba(199, 186, 186, 0.747);
}
.btn_menu{
    text-decoration:none;
    background-color: #f6f2f4;
    width: 250px;
    padding: 0px;
}
.btn_toggle:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #25c9d0; 
}  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #25c9d0;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
  }
.navbar-top-default{
    border-bottom:1px solid #000 ;
    width:80% ;
    margin-right:10%;
    margin-left:10%;
    height:100px ;
    background-color:#f6f2f4
}
  
  .navbar-default{
    background-color:#f6f2f4;
    margin-right: 10% ;
    margin-left: 10% ;
    margin-bottom: 30px; 
    height: 60px;  
  }
  .navbar-default-scroll{
    background-color:#f6f2f4;
    margin-right: 10% ;
    margin-left: 10% ;
    margin-bottom: 30px; 
    height: 90px;  
  }
  .Logo{
    align-self: center ;
    display: flex ;
    margin-top: 20px; 
  }
  .nav-link {
    color:#3e3c47 ;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 30;
    background-color: #f6f2f4;
    border: none;
    max-height: 40px;
    margin-right: 50px;
    width: relative ;
  }
  .nav-link-awareness {
    color:#3e3c47 ;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 30;
    background-color: #f6f2f4;
    border: none;
    max-height: 40px;
    margin-right: 50px;
    width: relative ;   
  }
  .nav-link:hover{
    color:#3e3c47;
    border: none;
    border-bottom: 3px solid #000;
    background-color: #f6f2f4;
  }
  .nav-link-awareness:hover{
    color:#3e3c47;
    border: none;
    border-bottom: 3px solid #000;
    background-color: #f6f2f4;
  }
  .nav-link:focus {
    color:#3e3c47;
    border: none;
    border-bottom: 3px solid #25c9d0;
    background-color: #f6f2f4;
  }
  .nav-link-awareness:focus{
    color:#3e3c47;
    border: none;
    border-bottom: 3px solid #f96714;
    background-color: #f6f2f4;
  }
  .navbar-light .navbar-nav .nav-link {
   color:#3e3c47
}
  @media only screen and (max-width: 800px) {
    .BottomHeader{
      flex-direction:none ;
      align-items:center ;
    }
    .navbar-light .navbar-nav .nav-link  {
        color:#f6f2f4 ;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #25c9d0;
        background-color: #3e3c47 ;

     }
     .navbar-light .navbar-nav .active>.nav-link  {
        color:#f6f2f4 ;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #25c9d0;
        background-color: #3e3c47 ;
    }
    .nav-link-awareness{
        color:#f6f2f4 ;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #f96714;
        background-color: #3e3c47 ;
    }
    .nav-link-awareness:hover{
        color:#f6f2f4 ;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #f96714;
        background-color: #3e3c47 ;
    }
    .navbar-default{
        background-color:#f6f2f4;
        margin-bottom: 30px; 
        height: 60px;  
      }
      .navbar-default-scroll{
        background-color:#f6f2f4;
        margin-bottom: 30px; 
        height: 90px;  
      }
      .btn_login_awareness{
        width: 95px;
      }
      .btn_Login{
          width: 95px;
      }
      .btn_item{
        font-size:17px;
    }
      .btn_menu{
        width: 100px;
    }
  }

