
.min_body{
    display: flex;
    flex-direction: row;
    align-self: auto;
    height: 320px;
}
.min_body form{
    margin-top: 5%;
    width: 100%;
}
.min_body .form-group{
    width: 99%;
}
.left-side{
    margin: 2%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position:relative; 
}
.left-side h4{
    margin-top: 8%;
    font-family: 'Open Sans';
    font-size: 30px;
    color: #f96714;
}
.left-sied-Forget-password{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;      
}

.left-side .form-control:focus {
    color: #495057; 
    background-color: #fff;
     border-color: #f96714; 
     outline: 0; 
     box-shadow: 0 0 0 0.1rem #f96714
}

.left-side .btn-primary {
    color: #fff;
    background-color: #f96714;
    border-color: #f96714;
    width:130px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 20px;
}


.left-side .btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #f96714;
    border-color: #f96714;
}
.left-sied-login-button1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    position: absolute; /**/
    bottom:40px;
    right: 0;
}

.left-sied-login-button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 2%;
    margin-top: 2%;
}


.right-side{
    background-image: url('../../../images/awareness.jpg');
    display: flex;
    flex:1;
    margin-left: 10px;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .5rem;
}


@media only screen and (max-width: 800px) {
.right-side{
    display: none;
}

}
