.whyWar-main{
    margin-top: 2%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}
.textSection{
    font-family: 'Open Sans';
    font-size: 45px;
    color: #f96714 ;
}
.contentSection{
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-family: 'Open Sans';
    font-size: 27px;
}

@media only screen and (max-width: 800px) {
    .whyWar-main{
        height: auto;
    }

    .contentSection{
        margin-left: 6%;
        margin-right: 6%;
        font-size: 23px;
    }
    .textSection{
        font-family: 'Open Sans';
        font-size: 27px;
        color: #f96714 ;
    }
}