.app-footer{
    height: 60px;
    background-color: #3e3c47 ;
    border-top: 5px solid #25c9d0 ;
    color: #f6f2f4 ;
    text-align: center;
    font-family: 'Open Sans';
    font-size:20px;
    align-items: center ;
    padding: 10px
}
.app-footer1{
    height: 60px;
    background-color: #242724 ;
    border-top: 5px solid #f96714 ;
    color: #f6f2f4 ;
    text-align: center;
    font-family: 'Open Sans';
    font-size:20px;
    align-items: center ;
    padding: 10px
}
@media only screen and (max-width: 800px) {
    .app-footer{
        height: 40px;        
        font-size: 15px;
       
    }
    .app-footer1{
        height: 40px;        
        font-size: 15px;
       
    }
}