.passCard-Image{

    background-image: url("../images/ForgetPssOrcas.jpg");
    background-color: #000; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.passCard-Min{
    height: 100%;
    display: flex;
    float: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}

.passCard-Min .card{ 
    width:35rem;
}