
@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:url('./fonts/AMBROSIA_DEMO.ttf');
  src: local('Open Sans'), local('OpenSans'),
  url('./fonts/AMBROSIA_DEMO.ttf') format('truetype'), /* Safari, Android, iOS */
}
.App{
  background-color: #f6f2f4;
  width: 100%;
  height: 100%
}
.Header{
  position:sticky;
  z-index:1000;
  top:0 ;
  width:100% ;
  background-color:#f6f2f4;
  
}
.BottomHeader{
  display:flex;
  flex-direction:row ;
  align-items:center ;
  height:60px;
}
.Button{
  background-color:#25c9d0 ;
  border:none;
  border-color: #25c9d0;
  color:#f6f2f4 ;
  width:130px ;
  height:40px;
  font-size: 25px;
  font-family: 'Open Sans';
}
.about-left{
  margin-top: 100px;
  display:block;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-left p{
  text-align: justify;
font-family: 'Open Sans';
font-size: 24px;
margin-left: 200px;
}
.about-left h4{
font-family: 'Open Sans';
font-size: 30px;
margin-left: 200px;
color:#25c9d0;
}
.about-right {
  display: flex;
  justify-content: center;
  align-items: center


}
.our-services{
  background-image: url("./images/backServies.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 660px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.services-top{
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-size: 45px;
}
.services-down{
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: row;
  color: white;
}
.left-services-down{
display: flex;
flex: 1;
flex-direction: column;
}
.right-servies-down{
  display: flex;
  flex: 1;
  flex-direction: column
}
.top-servies-left{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items:flex-start;
  margin-left:10%;
  font-family: 'Open Sans';

}
.down-servies-right{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items:flex-start;
  margin-left:10%;
  font-family: 'Open Sans';


}

.top-servies-Right{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items:flex-start;
  font-family: 'Open Sans';
}
.down-servies-Right{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items:flex-start;
  font-family: 'Open Sans';
  margin-left: 5%;
}
.Decp-Content{
  display:"block";
  padding:10px;
  text-align:'justify';
  font-size: 20px;

}

@media only screen and (max-width: 800px) {
  .Decp-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
  }
  .nav-link{
    font-size: 15px;
    margin-right: 0px;
  }
  .top-servies-left{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
 
  }
  .down-servies-right{
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .top-servies-Right{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .down-servies-Right{
    margin-left: 10px;
  }
  .services-down{
    flex-direction: column;

 
  }
  .our-services{
    background-image: url("");
    height: auto;
    background-color: #3e3c47
  }

}
.testImage{
  height: 109px;
  width: auto;
}
