.FormForget-min{
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: column;
}
.FormForget-End{
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: row;
}
.FormForget-End button{
margin: 10px;           
}
.FormForget-min h1{

    margin-left: 12%;
}
.FormForget-min h6{

    margin-left: 12%;
}
.FormForget-min  .form-control{
    font-size: 18px;
}
.FormForget-min  form{
    margin-top: 5%;
    width: 100%;
    
}
.FormForget-min  .form-group{
    width: 80%;
    margin-left: 12%;
}
.FormForget-min .form-control:focus {
    color: #495057; 
    background-color: #fff;
     border-color: #f96714; 
     outline: 0; 
     box-shadow: 0 0 0 0.1rem #f96714
}

.FormForget-min .btn-primary {
    color: #fff;
    background-color: #f96714;
    border-color: #f96714;
    width:130px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 20px;
}


.FormForget-min  .btn-primary:focus {
    box-shadow: #f96714; 
}
.FormForget-min  .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #f96714; 
}

.FormForget-min  .btn-primary:not(:disabled):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem #f96714; 
}
.btn:focus {
    outline: 0; 
    box-shadow: 0 0 0 0.1rem #f96714; 
}
.btn-primary:not(:disabled):not(.disabled):active
{
    background-color:#fff;
    color:#f96714;
    border-color:#f96714;
    
}