.CardGroup{
    width:80% ;
    margin-top:50px ;
    margin-bottom:40px ;
    margin-left:10% ;   
    background-color: #f6f2f4 ;

}
.Card{
    border: none ;
    background-color: #f6f2f4 ;
    font-family: 'Open Sans';
    font-size: 23px;
    color: #3e3c47 ;
    margin-right: 30px;
    text-align: justify;
}
.CardImage{
    margin-top:6% ;
    
}
.textSection3{
    font-family: 'Open Sans';
    font-size: 45px;
   
}

@media only screen and (max-width: 800px) {
    .Card{
        font-size: 23px;
    }
    .textSection3{
        font-size: 27px;  
    }
    .CardGroup{
        width:90% ;
    }

}